### Scraper Oscar: Raspando tables com Pandas

Com o **Pandas** é possível raspar tabelas simples de sites em HTML. Neste notebook vamos raspar tabelas do **Wikipédia** de algumas das categorias da premiação e análisar seus dados. Repositório original da Judite Cypreste em <https://github.com/juditecypreste/scraper_oscar>

In [1]:
import requests
# importando a biblioteca Pandas
import pandas as pd

#### Categoria: Melhor Atriz

Para conseguirmos as vencedoras e indicadas ao prêmio de *Melhor Atriz* o processo é simples, já que a estrutura da página [Wikipédia](https://pt.wikipedia.org/wiki/Oscar_de_melhor_atriz) sobre o assunto está bem organizada. 

Vamos então usar 
`pd.read_html` para ler a url.

In [2]:
# inserindo URL e lendo o HTML

# url = "https://en.wikipedia.org/wiki/List_of_brightest_stars"
url = "https://pt.wikipedia.org/wiki/Oscar_de_melhor_atriz"
headers = {'User-Agent': 'Mozilla/5.0'}

# 1. Get the page content first
response = requests.get(url, headers=headers)

# 2. Pass the raw HTML text to pandas
atrizes = pd.read_html(response.text, match="Personagem")

Antes de procurar a tabela que queremos é preciso saber que a numeração em Python começa a partir do zero. Tendo isso em mente, precisamos procurar a tabela certa com as informações que queremos. No nosso caso a tabela que queremos é a segunda que aparece na página, logo é a de *número 1*.  

Lembre-se a contagem **sempre** começa a partir do número zero.

In [3]:
# selecionando qual tabela queremos.
tabela_atriz = pd.concat(atrizes, ignore_index=True)
tabela_atriz

,Ano,Vencedores e Indicados,Personagem,Filme,Ref.
0,1929 (1.ª),Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...,[7]
1,1929 (1.ª),Louise Dresser,Mrs. Pleznik,A Ship Comes In,[7]
2,1929 (1.ª),Gloria Swanson,Sadie Thompson,Sadie Thompson,[7]
3,1930 (2.ª)[nota 1],Mary Pickford,Norma Besant,Coquette,[8]
4,1930 (2.ª)[nota 1],Ruth Chatterton,Jacqueline Floriot,Madame X,[8]
...,...,...,...,...,...
481,2026 (98.ª),Jessie Buckley,Agnes Shakespeare,Hamnet,NaN
482,2026 (98.ª),Rose Byrne,Linda,"If I Had Legs, I'd Kick You",NaN
483,2026 (98.ª),Kate Hudson,Claire Sardina,Song Sung Blue,NaN
484,2026 (98.ª),Renate Reinsve,Nora Borg,Affeksjonsverdi,NaN
485,2026 (98.ª),Emma Stone,Michelle Fuller,Bugonia,NaN

Note que na raspagem temos as seguintes colunas: *'Ano', 'Atriz', 'Papel', 'Filme' e 'Ref'*.  
Não vamos usar a coluna *'Ref'* então vamos excluir de nosso dataframe.

In [4]:
# excluindo coluna 'Ref'
tabela_atriz.drop('Ref.', axis=1, inplace=True)
tabela_atriz

,Ano,Vencedores e Indicados,Personagem,Filme
0,1929 (1.ª),Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...
1,1929 (1.ª),Louise Dresser,Mrs. Pleznik,A Ship Comes In
2,1929 (1.ª),Gloria Swanson,Sadie Thompson,Sadie Thompson
3,1930 (2.ª)[nota 1],Mary Pickford,Norma Besant,Coquette
4,1930 (2.ª)[nota 1],Ruth Chatterton,Jacqueline Floriot,Madame X
...,...,...,...,...
481,2026 (98.ª),Jessie Buckley,Agnes Shakespeare,Hamnet
482,2026 (98.ª),Rose Byrne,Linda,"If I Had Legs, I'd Kick You"
483,2026 (98.ª),Kate Hudson,Claire Sardina,Song Sung Blue
484,2026 (98.ª),Renate Reinsve,Nora Borg,Affeksjonsverdi
485,2026 (98.ª),Emma Stone,Michelle Fuller,Bugonia

Se olharmos a primeira coluna, a de *Ano*, veremos que ela tem uma sujeira. Precisamos tirar ela para padronizar nossos dados.   
Como estamos lidando com strings de tamanhos diferentes, vamos usar uma separação de strings.  

Com o `str[0]` nos selecionamos qual das strings queremos. Lembre-se que a contagem começa no zero.

In [5]:
# tirando a sujeira da coluna 'Ano'
tabela_atriz['Ano'] = tabela_atriz.Ano.str.split().str[0]
tabela_atriz

,Ano,Vencedores e Indicados,Personagem,Filme
0,1929,Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...
1,1929,Louise Dresser,Mrs. Pleznik,A Ship Comes In
2,1929,Gloria Swanson,Sadie Thompson,Sadie Thompson
3,1930,Mary Pickford,Norma Besant,Coquette
4,1930,Ruth Chatterton,Jacqueline Floriot,Madame X
...,...,...,...,...
481,2026,Jessie Buckley,Agnes Shakespeare,Hamnet
482,2026,Rose Byrne,Linda,"If I Had Legs, I'd Kick You"
483,2026,Kate Hudson,Claire Sardina,Song Sung Blue
484,2026,Renate Reinsve,Nora Borg,Affeksjonsverdi
485,2026,Emma Stone,Michelle Fuller,Bugonia

In [6]:
tabela_atriz.rename(columns={'Vencedores e Indicados':'Atriz'}, inplace=True)

Na coluna com os nomes também existe uma sujeira: as notas explicativas que acompanham algumas atrizes. Vamos eliminar isso também, mas de uma forma diferente já que, ao contrário do exemplo anterior, as palavras não estão separadas por um espaço. 

Procurando um padrão, vemos que as notas estão entre **colchetes [  ]**. É a partir de padrões que podemos estabalecer como podemos limpar nossos dados.  

Vamos então usar isso ao nosso favor.

Vamos começar separando os nomes em uma coluna e as notas em outra coluna.   
Criamos a coluna **Nome** e a coluna **Nota**. Perceba que onde não tinha nenhuma nota o Pandas incluiu um **None**.  

Olhe também a nova coluna **Nome** criada e veja que ela já não tem notas.

In [7]:
# dividindo os nomes das notas.
tabela_atriz[['Nome','Nota']] = tabela_atriz.Atriz.str.split("[",expand=True)
tabela_atriz

,Ano,Atriz,Personagem,Filme,Nome,Nota
0,1929,Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...,Janet Gaynor,None
1,1929,Louise Dresser,Mrs. Pleznik,A Ship Comes In,Louise Dresser,None
2,1929,Gloria Swanson,Sadie Thompson,Sadie Thompson,Gloria Swanson,None
3,1930,Mary Pickford,Norma Besant,Coquette,Mary Pickford,None
4,1930,Ruth Chatterton,Jacqueline Floriot,Madame X,Ruth Chatterton,None
...,...,...,...,...,...,...
481,2026,Jessie Buckley,Agnes Shakespeare,Hamnet,Jessie Buckley,None
482,2026,Rose Byrne,Linda,"If I Had Legs, I'd Kick You",Rose Byrne,None
483,2026,Kate Hudson,Claire Sardina,Song Sung Blue,Kate Hudson,None
484,2026,Renate Reinsve,Nora Borg,Affeksjonsverdi,Renate Reinsve,None
485,2026,Emma Stone,Michelle Fuller,Bugonia,Emma Stone,None

In [8]:
# Excluindo as colunas 'Atrizes' e 'Nota'.
tabela_atriz.drop(['Atriz','Nota'], axis=1, inplace=True)
tabela_atriz

,Ano,Personagem,Filme,Nome
0,1929,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...,Janet Gaynor
1,1929,Mrs. Pleznik,A Ship Comes In,Louise Dresser
2,1929,Sadie Thompson,Sadie Thompson,Gloria Swanson
3,1930,Norma Besant,Coquette,Mary Pickford
4,1930,Jacqueline Floriot,Madame X,Ruth Chatterton
...,...,...,...,...
481,2026,Agnes Shakespeare,Hamnet,Jessie Buckley
482,2026,Linda,"If I Had Legs, I'd Kick You",Rose Byrne
483,2026,Claire Sardina,Song Sung Blue,Kate Hudson
484,2026,Nora Borg,Affeksjonsverdi,Renate Reinsve
485,2026,Michelle Fuller,Bugonia,Emma Stone

Para deixar nossos dados padronizados vamos mudar o nome da coluna **Nome** para **Atriz**.

In [9]:
# Mudando none da coluna 'Nome' para 'Atriz'.
tabela_atriz.rename(columns={'Nome':'Atriz'}, inplace=True)
tabela_atriz

,Ano,Personagem,Filme,Atriz
0,1929,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...,Janet Gaynor
1,1929,Mrs. Pleznik,A Ship Comes In,Louise Dresser
2,1929,Sadie Thompson,Sadie Thompson,Gloria Swanson
3,1930,Norma Besant,Coquette,Mary Pickford
4,1930,Jacqueline Floriot,Madame X,Ruth Chatterton
...,...,...,...,...
481,2026,Agnes Shakespeare,Hamnet,Jessie Buckley
482,2026,Linda,"If I Had Legs, I'd Kick You",Rose Byrne
483,2026,Claire Sardina,Song Sung Blue,Kate Hudson
484,2026,Nora Borg,Affeksjonsverdi,Renate Reinsve
485,2026,Michelle Fuller,Bugonia,Emma Stone

E também organizar a ordem de nossas colunas.

In [11]:
# organizando as colunas 
melhor_atriz = tabela_atriz[['Ano','Atriz','Personagem','Filme']]
melhor_atriz

,Ano,Atriz,Personagem,Filme
0,1929,Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...
1,1929,Louise Dresser,Mrs. Pleznik,A Ship Comes In
2,1929,Gloria Swanson,Sadie Thompson,Sadie Thompson
3,1930,Mary Pickford,Norma Besant,Coquette
4,1930,Ruth Chatterton,Jacqueline Floriot,Madame X
...,...,...,...,...
481,2026,Jessie Buckley,Agnes Shakespeare,Hamnet
482,2026,Rose Byrne,Linda,"If I Had Legs, I'd Kick You"
483,2026,Kate Hudson,Claire Sardina,Song Sung Blue
484,2026,Renate Reinsve,Nora Borg,Affeksjonsverdi
485,2026,Emma Stone,Michelle Fuller,Bugonia

Por fim, vamos salvar nossos dados em um csv.

In [12]:
# salvando em csv
melhor_atriz.to_csv('melhor_atriz.csv')
melhor_atriz

,Ano,Atriz,Personagem,Filme
0,1929,Janet Gaynor,DianeAngelaA Esposa,7th HeavenStreet AngelSunrise: A Song of Two H...
1,1929,Louise Dresser,Mrs. Pleznik,A Ship Comes In
2,1929,Gloria Swanson,Sadie Thompson,Sadie Thompson
3,1930,Mary Pickford,Norma Besant,Coquette
4,1930,Ruth Chatterton,Jacqueline Floriot,Madame X
...,...,...,...,...
481,2026,Jessie Buckley,Agnes Shakespeare,Hamnet
482,2026,Rose Byrne,Linda,"If I Had Legs, I'd Kick You"
483,2026,Kate Hudson,Claire Sardina,Song Sung Blue
484,2026,Renate Reinsve,Nora Borg,Affeksjonsverdi
485,2026,Emma Stone,Michelle Fuller,Bugonia

In [14]:
# Código para transformar anos em décadas no DataFrame de atrizes do Oscar

# Exemplo assumindo que você já tem o DataFrame 'tabela_atrizes' carregado
# (conforme mostrado no notebook com pd.read_html)

# Função para converter ano em década
def ano_para_decada(ano_str):
    """
    Converte um ano em formato string para sua respectiva década.
    
    Exemplos:
    - '1929 (1.ª)' -> '1920s'
    - '1930 (2.ª)[nota 1]' -> '1930s'
    - '2020' -> '2020s'
    """
    # Extrai apenas os 4 primeiros dígitos do ano
    ano = int(str(ano_str)[:4])
    
    # Calcula a década (arredonda para baixo para o múltiplo de 10)
    decada = (ano // 10) * 10
    
    return f"{decada}s"

# Aplicando a transformação
# Método 1: Criar uma nova coluna 'Década'
tabela_atriz['Década'] = tabela_atriz['Ano'].apply(ano_para_decada)

# Método 2 (alternativo): Substituir a coluna 'Ano' pela década
# tabela_atrizes['Ano'] = tabela_atrizes['Ano'].apply(ano_para_decada)

# Visualizando o resultado
print(tabela_atriz[['Ano', 'Década', 'Atriz', 'Filme']].head(20))

# Exemplo de análise: contagem de nomeações por década
print("\n=== Nomeações por Década ===")
print(tabela_atriz['Década'].value_counts().sort_index())

     Ano Década             Atriz  \
0   1929  1920s      Janet Gaynor
1   1929  1920s    Louise Dresser
2   1929  1920s    Gloria Swanson
3   1930  1930s     Mary Pickford
4   1930  1930s   Ruth Chatterton
5   1930  1930s     Betty Compson
6   1930  1930s     Jeanne Eagels
7   1930  1930s  Corinne Griffith
8   1930  1930s       Bessie Love
9   1931  1930s     Norma Shearer
10  1931  1930s     Nancy Carroll
11  1931  1930s   Ruth Chatterton
12  1931  1930s       Greta Garbo
13  1931  1930s     Norma Shearer
14  1931  1930s    Gloria Swanson
15  1932  1930s    Marie Dressler
16  1932  1930s  Marlene Dietrich
17  1932  1930s       Irene Dunne
18  1932  1930s       Ann Harding
19  1932  1930s     Norma Shearer

                                                Filme
0   7th HeavenStreet AngelSunrise: A Song of Two H...
1                                     A Ship Comes In
2                                      Sadie Thompson
3                                            Coquette
4                                            Madame X
5                                          The Barker
6                                          The Letter
7                                     The Divine Lady
8                                 The Broadway Melody
9                                        The Divorcee
10                                The Devil's Holiday
11                                      Sarah and Son
12                               Anna ChristieRomance
13                                   Their Own Desire
14                                     The Trespasser
15                                       Min and Bill
16                                            Morocco
17                                           Cimarron
18                                            Holiday
19                                        A Free Soul

=== Nomeações por Década ===
1920s     3
1930s    48
1940s    50
1950s    50
1960s    50
1970s    50
1980s    50
1990s    50
2000s    50
2010s    50
2020s    35
Name: Década, dtype: int64